* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 3em 0;
}

.header .header-text {
  padding: 1em 0 1em 1em;
}

.navigation p {
  padding: 1.5em;
}

.navigation p a {
  padding-right: 1em;
}

.main {
  margin: 1em 0 0 0;
}

.main .main-heading {
  margin: 1em 0 .5em 0;
}

.quote {
  margin: 0 0 1em 0;
}

.content {
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.content-heading {
  padding: 0 0 .75em 0;
}

.award-table {
  width: 60%;
}

.award-table .award-table-caption {
  padding: 1em 0 1em 0;
}

.award-table .award-table-data {
  padding: 1em;
}

.gallery .gallery-figure {
  margin: 1em;
}

.gallery .gallery-image {
  width: 250px;
  height: 250px;
}

.contact-fieldset {
  display: block;
  margin: 0 auto 1.4em;
  padding: 0 3em 0 2em;
  width: 60%;
}

.contact-fieldset label {
  display: block;
  font-weight: 500;
  padding: 1em 0 .5em 0;
}

.favorite-fieldset {
  padding: 1em;
  width: 100%;
  margin: 1em 0;
  display: inline;
}

.favorite-fieldset label {
  display: inline;
  padding: 1em .5em .5em .5em;
}

.contact input[type=text],
.contact input[type=email],
.contact select,
.contact textarea {
  height: 30px;
  width: 100%;
  padding: .2em .2em .2em .6em;
}

.contact select {
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contact textarea {
  height: 200px;
}

.contact input[type=submit],
.contact input[type=reset] {
  display: block;
  margin: 0 auto;
  padding: .7rem .5rem;
}

.contact input[type=reset] {
  margin-top: 1em;
}

.contact-buttons {
  padding: 1em;
}

.footer {
  padding: 1em 1.5em;
}